.card {
    background-color: white;
    border: 1px solid;
    width: 315px;
    padding: 8px 24px 24px 24px; 
}

h2 {
    color: #bd3f31;
}

.caixa-preco {
    border: 1px solid #23ac65;
    width: fit-content;     
    padding: 0px 5px;      
    background-color: #d5f1e3;
    color: #23ac65;
    font-weight: 500;
}

body {
    background-color: bisque;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}